<!-- Encabezado con Tabs y Botón Descargar -->
<div class="flex flex-column md:flex-row align-items-center justify-content-between">
    <div class="flex align-items-center h-full">
        <p-selectButton
            [options]="tabOptions"
            [(ngModel)]="selectedTab"
            optionLabel="label"
            optionValue="value"
            (onChange)="onTabChange($event)">
        </p-selectButton>
    </div>

    <div class="flex justify-content-start md:justify-content-end mt-2 md:mt-0">
        <div class="w-full md:w-auto">
            <button
                pButton
                type="button"
                label="Descargar"
                icon="pi pi-download"
                (click)="descargar()">
            </button>
        </div>
    </div>
</div>

<app-descargar-reporte-dialog
    [(display)]="displayDescargarModal"
    [activeReportCode]="activeTab"
    [activePeriod]="currentPeriod">
</app-descargar-reporte-dialog>

<br />
