<div class="table-container" *ngIf="estudiante">
    <!-- Header Principal -->
    <div class="main-title text-center font-bold">
        Matricula Financiera &nbsp;&nbsp;-&nbsp;&nbsp; ESTUDIANTE
    </div>

    <!-- Tabla Financiera -->
    <table class="w-full responsive-table">
        <colgroup class="desktop-only">
            <col style="width: 10%"> <col style="width: 20%"> <col style="width: 10%"> <col style="width: 8%"> 
            <col style="width: 10%"> <col style="width: 12%"> <col style="width: 20%"> <col style="width: 10%"> 
        </colgroup>
        <thead class="desktop-only">
            <tr class="header-row bg-gray-100">
                <th rowspan="2">Identificación</th>
                <th rowspan="2">Nombres Completos<br>Del Estudiante</th>
                <th rowspan="2">Valor de<br>Matrícula<br>en SMMLV</th>
                <th rowspan="2">SEM<br>FINAN</th>
                <th rowspan="2">¿Aplica<br>Descuento<br>de Voto?</th>
                <th rowspan="2">Descuento<br>por Egresado<br>(UNICAUCA)</th>
                <th>No. Res.<br>de Beca</th>
                <th>% Beca</th>
            </tr>
            <tr class="header-row bg-gray-100">
                 <th colspan="2" class="text-xs font-normal">
                    Pendiente: Si aún no cuenta con No. Resolución
                 </th>
            </tr>
        </thead>
        <tbody>
            <tr class="responsive-row">
                <td><span class="p-column-title">Identificación</span>{{ estudiante.identificacion }}</td>
                <td><span class="p-column-title">Nombre Estudiante</span>{{ getNombreCompleto() | uppercase }}</td>
                <td><span class="p-column-title">Valor Matrícula</span>{{ valorMatricula | currency }}</td>
                <td><span class="p-column-title">SEM FINAN</span>{{ estudiante.semestreFinanciero }}</td>
                <td><span class="p-column-title">¿Descuento Voto?</span>{{ descuentoVoto }}</td>
                <td><span class="p-column-title">Descuento Egresado</span>{{ descuentoEgresado }}</td>
                <td><span class="p-column-title">No. Res. Beca</span>{{ becaResolucion }}</td>
                <td><span class="p-column-title">% Beca</span>{{ becaPorcentaje || '-' }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Sección Media -->
    <div class="middle-section-top font-bold">
        Matricula Académica
    </div>
    <div class="middle-section-bottom">
        Semestre: <span class="semestre-value font-normal">{{ estudiante.matriculasAcademicas[0]?.semestre || '____' }}</span>
    </div>

    <!-- Tabla Académica -->
    <table class="w-full responsive-table academic-table">
        <colgroup class="desktop-only">
            <col style="width: 5%"> <col style="width: 10%"> <col style="width: 25%"> 
            <col style="width: 50%"> <col style="width: 10%"> 
        </colgroup>
        <thead class="desktop-only">
            <tr class="header-row bg-gray-100">
                <th rowspan="2" class="p-0"><div class="vertical-text py-2">SEM ACAD</div></th>
                <th colspan="2">Materias a Matricular</th>
                <th rowspan="2">Docente Encargado</th>
                <th rowspan="2">Grupo</th>
            </tr>
            <tr class="header-row bg-gray-100">
                <th>Código_OID</th>
                <th>Materia</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="estudiante.matriculasAcademicas?.length; else noMaterias">
                <ng-container *ngFor="let matricula of estudiante.matriculasAcademicas">
                    <tr *ngFor="let materia of matricula.materias" class="responsive-row">
                        <td><span class="p-column-title">SEM ACAD</span>{{ matricula.semestre }}</td>
                        <td><span class="p-column-title">Código</span>{{ materia.codigo_oid }}</td>
                        <td><span class="p-column-title">Materia</span>{{ materia.materia }}</td>
                        <td><span class="p-column-title">Docente</span>{{ materia.objDocente?.nombre || '-' }}</td>
                        <td><span class="p-column-title">Grupo</span>{{ materia.grupoClase }}</td>
                    </tr>
                </ng-container>
            </ng-container>
            <ng-template #noMaterias>
                <tr><td colspan="5" class="p-4 text-center">No hay materias registradas</td></tr>
            </ng-template>
        </tbody>
    </table>
</div>
