:host ::ng-deep {
    .p-dialog-content {
        padding: 1.5rem;
    }

    .p-inputtext {
        width: 100%;
    }
}

.gastos-add-btn {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}
