<div class="flex justify-content-center align-items-center mb-5" *ngIf="!loading && periodos.length > 0">
    <button pButton type="button" icon="pi pi-chevron-left" class="p-button-rounded p-button-text"
        (click)="irPeriodoAnterior()" [disabled]="!hayAnterior">
    </button>

    <div class="mx-3 text-center">
        <span class="periodo-academico-texto">Período Académico</span>
        <br>
        <span class="periodo-academico-valor">{{ periodoActualTexto }}</span>
    </div>

    <button pButton type="button" icon="pi pi-chevron-right" class="p-button-rounded p-button-text"
        (click)="irPeriodoSiguiente()" [disabled]="!haySiguiente">
    </button>
</div>

<div *ngIf="loading" class="flex justify-content-center align-items-center mb-5">
    <p-skeleton width="300px" height="60px"></p-skeleton>
</div>