<p-card styleClass="surface-card border-round shadow-1 inline-block w-20rem">
    <ng-template pTemplate="header">
        <div class="px-3 pt-3">
            <h3 class="text-xl font-semibold m-0">Información del curso</h3>
        </div>
    </ng-template>

    <div class="p-3">
        <div class="mb-2">
            <span class="font-medium text-800">Asignatura:</span>
            <span class="ml-2 text-900">{{
                curso?.asignatura?.nombre ?? "-"
            }}</span>
        </div>

        <div class="mb-2">
            <span class="font-medium text-800">Grupo:</span>
            <span class="ml-2 text-900">{{ curso?.grupo ?? "-" }}</span>
        </div>

        <div class="mb-2">
            <span class="font-medium text-800">Período:</span>
            <span class="ml-2 text-900">{{ getTagPeriodo() }}</span>
        </div>

        <div class="mb-2">
            <span class="font-medium text-800">Fechas:</span>
            <span class="ml-2 text-900">{{ getFechasPeriodo() }}</span>
        </div>

        <div class="mb-2">
            <span class="font-medium text-800">Docentes:</span>
            <span class="ml-2 text-900">{{ getDocentesFormateados() }}</span>
        </div>

        <div class="mb-2">
            <span class="font-medium text-800">Horario:</span>
            <span class="ml-2 text-900">{{ curso?.horario ?? "-" }}</span>
        </div>

        <div class="mb-2">
            <span class="font-medium text-800">Salón:</span>
            <span class="ml-2 text-900">{{ curso?.salon ?? "-" }}</span>
        </div>
    </div>
</p-card>
