:host ::ng-deep {
    .p-dropdown {
        width: 100%;
    }

    .p-dialog-content {
        padding-top: 1.5rem !important;
        overflow-y: visible !important;
    }

    .p-float-label {
        display: block;
        width: 100%;
    }
}
